@import "tailwindcss";

@source inline("{bg,text,border-l}-{indigo,emerald,orange,slate}-{100,500,700}");
@source inline("{bg,text,border-l}-{red,yellow}-{100,400,500,700}");
@source inline("bg-{indigo,emerald,slate}-{600,700,800,900}");
@source inline("ring-indigo-{400,500}");

body {
  background-color: #0f172a;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
